.select {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #8791AA;
  padding: 8px 25px 8px 16px;
  width: 100%;
  background: #FFFFFF;
  box-shadow: 0px 4px 7px rgba(100, 177, 252, 0.3);
  border-radius: 20px;
  border: 1px #FFFFFF solid;
  appearance: none;
  cursor: pointer;
}

  .selectWrapper {
    position: relative;
    max-width: 340px;
    /* min-width: 200px; */
    width: 100%;

  }
  
  .selectWrapper::after {
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    right: 10px;
    margin-top: 18px;
    background-image: url("/public/images/icon/select-marker.svg");
    background-repeat: no-repeat;
    pointer-events: none;
  }
