.inputSearch {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  background: #FFFFFF;
  padding: 8px 40px 8px 16px;
  border: none;
  border-radius: 20px;
  box-shadow: 0px 4px 7px rgba(100, 177, 252, 0.3);
  width: 100%;
}

.labelSearch {
  position: relative;
  display: inline-flex;
  flex-grow: 1;
}

.labelSearch::after {
  position: absolute;
  content: "";
  width: 24px;
  height: 24px;
  top: 4px;
  right: 10px;
  background-image: url("/public/images/icon/search-loading.svg");
  background-repeat: no-repeat;
}